.tableRow {
    height: 35px;
    text-align: center;
}

.tableRow:nth-child(2n) {
    background-color: palegreen;
}

.type {
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 40px;
    text-align: left;
}

.amount {
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
}

.currency {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: center;
}
