.profile {
    width: 250px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding-top: 25px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
    background-color: #fff;
}

.avatar {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: black;
}

.tag {
    text-align: center;
    font-size: 14px;
    color: grey;
}

.location {
    text-align: center;
    font-size: 14px;
    color: grey;
}

.stats {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.stats > li {
    border-top: 1px solid grey;
    padding: 10px;
    width: calc(100% / 3);
    background-color: rgba(0,0,0,0.05);
}
.stats > li:not(:last-child) {
    border-right: 1px solid grey;
}