

.item {
    width: calc(100% / 5);
}
.label {
    display: block;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
}

.percentage {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}